.capsuleTag {
    list-style: none;
    margin: 0;
    padding: 0;
    border:solid #2a9d8f ;
    border-radius: 25px; /* Add a border */
    margin-bottom: 10px; /* Add some margin between capsules */

    
}
.capsuleTag:hover{
    box-shadow: 0 3.5px #264653;
}

.tagContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.capsuleTitle {
    font-weight: bold;
}

.capsuleExpiration {
    font-size: 1rem;
    color: #666;
}
