@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Moderno';
    src: url('./fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.capsuleCreationFormContainer {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 3px solid #331832;
    border-radius: 25px;
    font-family: 'Urbanist', sans-serif;

}

.capsuleCreationForm {
    display: grid;
    gap: 10px;
}

.capsuleCreationForm label {
    font-weight: bolder;
    font-size: 1.2rem;
    color: #331832;
}

.capsuleCreationForm input,
.capsuleCreationForm textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #f4a261;
    border-radius: 3px;
    background-color: #fff;
}

.capsuleCreationForm textarea {
    height: 6rem;
}

.capsuleCreationForm input[type="date"] {
    padding: 8px;
}

.createButton {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    background-color: #F0544F;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Museo Moderno', sans-serif;
}



.formHeading {
    font-size: 2.5rem;
    color: #F0544F;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.inputDescription {
    font-size: 0.975rem;
    color: #666;

}


