.capsuleContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 5px solid #e76f51;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px white;
}

.capsuleHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.daysAgo {
    font-size: 14px;
    color: #999;
    margin-right: 10px;
}

.capsuleTitle {
    font-size: 24px;
    font-weight: bold;
}

.capsuleMessage {
    font-size: 16px;
    margin-bottom: 20px;
}

.photosContainer {
    display: flex;
    flex-wrap: wrap;
}

.capsulePhoto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}


.reburyButton {
    background-color: #f4a261;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}


/* Style for the rebury form */
.reburyForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: min-content;
}

.reburyForm label {
    margin-bottom: 6px;

}

.reburyForm input[type="date"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

.reburyForm button {
    background-color: #f4a261;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.reburyForm button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
