/* Fonts */
@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Moderno';
    src: url('./fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Style for capsule when open */
.capsuleContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FDF0D5;
    border: 5px solid #F0544F;
    border-radius: 25px;
    font-family: 'Urbanist', sans-serif;
}

/* X days ago + title */
.capsuleHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.daysAgo {
    font-size: 1rem;
    color: #999;
    margin-right: 10px;
    font-family: 'Museo Moderno';
}

.capsuleTitle {
    font-size: 2rem;
    font-weight: bold;
}

/* Capsule Message */
.capsuleMessage {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

/* Capsule photos */
.photosContainer {
    display: flex;
    flex-wrap: wrap;
}

.capsulePhoto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}
/* Rebury Button */
.reburyButton{
    margin-right: 5px;
}
/* Rebury and Delete Button */
.deleteButton,
.reburyButton {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #F0544F;
}

.deleteButton:before,
.reburyButton:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D81E5B;
    border-radius: 10rem;
    z-index: -2;
    transition: all 0.3s;
}

.deleteButton:hover,
.reburyButton:hover {
    color: #fff;
}

.deleteButton:hover:before,
.reburyButton:hover:before {
    width: 0;
}

/* Style for the rebury form */
.reburyForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.reburyForm label {
    margin-bottom: 6px;
    width: 350px;
}

.reburyForm input[type="date"] {
    padding: 6px;
    border: 1px solid #3F2A2B;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    width: min-content;
}

.reburyForm button {
    background-color: #E76f51;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    width: min-content;
}

.reburyForm button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.profileButtonContainer {
    padding-top: 5px;
    font-size: 1.5rem;
}
