.capsuleCreationFormContainer {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #2a9d8f;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.capsuleCreationForm {
    display: grid;
    gap: 10px;
}

.capsuleCreationForm label {
    font-weight: bold;
}

.capsuleCreationForm input,
.capsuleCreationForm textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #f4a261;
    border-radius: 3px;
    background-color: #fff;
}

.capsuleCreationForm input[type="date"] {
    padding: 8px;
}

.createButton {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #2a9d8f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.createButton:hover {
    background-color: #073b4c;
}
.formHeading {
    font-size: 2rem;
    color: #2a9d8f; /* Updated to teal color */
    margin-bottom: 10px;
    text-align: center;
  }
  
  .inputDescription {
    font-size: 0.875rem;
    color: #666;

  }