/* Font */
@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.capsuleTag {
    list-style: none;
    background-color: #FFF7E6;
    margin: 0;
    padding: 0;
    border: solid #F0544F;
    border-radius: 25px;
    margin-bottom: 10px;
}


.tagContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Urbana', sans-serif;
}

.capsuleTitle {
    font-weight: bold;
    text-transform: uppercase;
    color: #3F2A2B;
}

.capsuleExpiration {
    font-size: 1rem;
    color: #3F2A2B;
}
