.header {
    color: white;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 4rem;
    color: #264653;
    text-shadow: 2px 2px 4px white;

}

.header-title span {
    font-weight: bold;
    /* whn color */
}

.header-title:hover {
    font-size: 4rem;
    font-weight: bold;
    /* Bold on hover */
}

/* Responsive Tailwind CSS classes */
@media (max-width: 640px) {
    .header-title {
        font-size: 2.5rem;
    }
}