/* header.module.css */

.header {

    color: white;

}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 4rem;
    background: linear-gradient(90deg, #003d5b, #00a2c5, #00798c, #d1495b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.header-title:hover {
    font-size: 4rem;
    background: linear-gradient(90deg, #d1495b, #003d5b, #00a2c5, #00798c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Responsive Tailwind CSS classes */
@media (max-width: 640px) {
    .header-title {
        font-size: 1.5rem;
    }
}