@font-face {
    font-family: 'Museo Moderno';
    src: url('./fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    color: white;
    font-family: 'Museo Moderno', sans-serif;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 6rem;
    color: #F0544F;

}

.header-title span {
    font-weight: bold;
    color:#D81E5B;
}

.header-content:hover {
    font-weight: bolder;
    /* Bold on hover */
}

/* Responsive Tailwind CSS classes */
@media (max-width: 640px) {
    .header-title {
        font-size: 2.5rem;
    }
}