@font-face {
    font-family: 'Museo Moderno';
    src: url('./fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.text-center {
    text-align: center;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #F0544F;
    border-radius: 25px;
    background-color: #FDF0D5;


}

.login-form h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: #D81E5B;
    font-family: 'Museo Moderno', sans-serif;
    /* Update to coral color */
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    color:#331832;
    text-transform:uppercase;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: 'Urbana', sans-serif;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1.5px solid #F0544F;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Urbana', sans-serif;
    outline: none;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Urbana', sans-serif;
    text-transform: uppercase;
    border: 2px solid #F0544F;
    border-radius: 5px;
    color: #F0544F;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #D81E5B;
    color: #FDF0D5;
    text-decoration: none;
}
.login-p {
    color:#C6D8D3;
}
.login-link {
    color: #e76f51;

    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .login-form {
        max-width: 100%; 
    }
    
}

@media screen and (max-width: 576px) {
    
    .login-form {
        padding: 10px; 
    }
    
}






