/* styles/page.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}


.text-center {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    height: 300px;
}

.main-content {
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
    padding: 20px;
    /* Add padding for spacing */

    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Add box shadow */
}

.text-container {
    flex: 1;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: #264653;
    padding: .5em;
}

.welcome-text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #264653;

}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.getStartedButton {
    border: 2px solid #2a9d8f;
    color: #2a9d8f;
    background-color: white;
}

.getStartedButton:hover {
    background-color: #2a9d8f;
    color: white;
    text-decoration: none;
}

.loginButton {
    border: 2px solid #e76f51;
    color: #e76f51;
    background-color: white;
}

.loginButton:hover {
    background-color: #e76f51;
    color: white;
    text-decoration: none;
}

/* Responsive Tailwind CSS classes */
@media (max-width: 640px) {
    .logo {
        width: 150px;
        height: 150px;
    }

    .main-content {
        flex-direction: column;
    }
}